*.out
*.txt
*.bin
*.o
gshf-mrqdt3
gshf-mrqdt2
fft.exe
fft_mpi.exe
cufft.exe
*.sh

*.csv
*.png
.tau
r0*
*.data
*.nsight-cuprof-report

*.optrpt

cali*
*.json
*.png
.metadata/
RemoteSystemsTempFiles.

ex_*

