<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<booleanAttribute key="nvvp.apiTraceProfiling" value="true"/>
<booleanAttribute key="nvvp.appReplay" value="false"/>
<intAttribute key="nvvp.cdpbuffersize" value="8"/>
<booleanAttribute key="nvvp.concurrentProfiling" value="true"/>
<intAttribute key="nvvp.devicebuffersize" value="8"/>
<booleanAttribute key="nvvp.environmentProfiling" value="false"/>
<stringAttribute key="nvvp.filename" value="/disks/large/home/users/gravelle/lartpcalgo-optimize/noisefiltering/.metadata/.plugins/com.nvidia.viper.ide/New_configuration.nvvp"/>
<intAttribute key="nvvp.multiProcess" value="0"/>
<booleanAttribute key="nvvp.openaccProfiling" value="true"/>
<booleanAttribute key="nvvp.startProfiling" value="true"/>
<booleanAttribute key="nvvp.threadTracking" value="false"/>
<intAttribute key="nvvp.timeout" value="-1"/>
<booleanAttribute key="nvvp.uvmProfiling" value="true"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value=""/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
</launchConfiguration>
